body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: transparent;
  color: #ddd;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: #000;
  color: #ff6464;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  border-bottom: 2px solid #ff6464;
}

.header-title {
  font-size: 36px;
  margin-bottom: 5px;
  color: #fff;
}

.header-subtitle {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu a:hover {
  background-color: #ff6464;
  transform: translateY(-3px);
  color: #fff;
}

.section {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  background-image: none;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.projects,
.certificates {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.project,
.certificate {
  transition: transform 0.4s, box-shadow 0.4s;
  flex: 0 0 calc(32% - 20px);
  margin-bottom: 20px;
  background-color: #222;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  border-radius: 5px;
  border: 1px solid #333;
}

.project:hover,
.certificate:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #333;
}

.project h2,
.certificate h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.project img,
.certificate img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  transition: transform 0.3s, border-color 0.3s;
}

.project:hover img,
.certificate:hover img {
  transform: scale(1.05);
  border-color: #ff6464;
}

.contact-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons a {
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.2s, color 0.3s;
  color: #ddd;
}

.contact-icons a:hover {
  transform: translateY(-1px);
  color: #ff6464;
}

.footer {
  background-color: #000;
  color: #ddd;
  text-align: center;
  padding: 15px 0;
}

#about, #contact, #projects, #certificates {
  color: white;
}

#about p, #contact p, #projects p, #certificates p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-shadow: -4px -4px 8px black, 4px -4px 8px black, -4px 4px 8px black, 4px 4px 8px black;
}

#about .section-title, #contact .section-title, #projects .section-title, #certificates .section-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: -4px -4px 8px black, 4px -4px 8px black, -4px 4px 8px black, 4px 4px 8px black;
}
